<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>c2r.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC21E3B61EA0D0D600463699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC21E3C71EA0D0D600463699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC21E3D21EA0D0D600463699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
